* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #002339;
    color: white;
}

.container {
    margin: 12%;
}

.container h1 {
    font-size: 40px;
}

.container h1 span {
    font-weight: 500;
    color: #3ED82D;
}

.display {
    align-items: center;
    display: flex;
    margin-top: 30px;
    outline: none;
    border-radius: 5px;
    border: 0px;
    font-size: 20px;
    padding: 10px;
    background-color: white;
    width: 300px;
}

input {
    box-sizing: border-box;
    outline: 0px;
    border: 0px;
    font-size: 20px;
}

img {
    background: white;
    width: 40px;
    height: 43px;
}

.btn {
    margin-top: 5px;
    display: flex;
    align-items: center;
    text-align: center;
    color: white;
    background-color: #3ED82D;
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
    outline: none;
}

.btn img {
    width: 20px;
    height: auto;
    background-color: #3ED82D;
}

.copyImg:hover {
    cursor: pointer;
    behavior: calc();
    box-shadow: 2px 2px 2px solid black;
}